body{
	margin: 0px;
}

#github{
	background-color: transparent;
	position: absolute;
	z-index: 3;
	top: 20%;
	left: 30%;
}
.background{
	width:100%;
	position:absolute;
	z-index: -1;
}

.resume{
	position: absolute;
<<<<<<< HEAD
	height: 45%;
	top:55%;
	right:10%;
	transform: rotate(20deg);
	z-index: 2;
}
=======
	width:25%;
	height: 50%;
	top:400px;
	right:100px;
	transform: rotate(20deg);
}
>>>>>>> 07e7a50ecbc75bd4c6d1c00e4264778ce1c5fd20
