body{
	margin: 0px;
}

#github{
	background-color: transparent;
	position: absolute;
	z-index: 3;
	top: 20%;
	left: 30%;
}
.background{
	width:100%;
	position:absolute;
	z-index: -1;
}

.resume{
	position: absolute;
	height: 45%;
	top:55%;
	right:10%;
	transform: rotate(20deg);
	z-index: 2;
}